PORT=5000
FRONTEND_URL=http://localhost:3000
DEV_DB_URL="postgresql://johndoe:randompassword@localhost:5432/mydb_d?schema=public"
TEST_DB_URL="postgresql://johndoe:randompassword@localhost:5432/mydb_t?schema=public"
PROD_DB_URL="postgresql://johndoe:randompassword@localhost:5432/mydb_p?schema=public"
DATABASE_URL=${DEV_DB_URL}
