NODE_OPTIONS=--max-old-space-size=2048
ENV=development
PORT=5000
FRONTEND_URL=http://localhost:3000
DEV_DB_URL="postgresql://johndoe:randompassword@localhost:5432/mydb_d?schema=public"
TEST_DB_URL="postgresql://johndoe:randompassword@localhost:5432/mydb_t?schema=public"
PROD_DB_URL="postgresql://johndoe:randompassword@localhost:5432/mydb_p?schema=public"
DATABASE_URL=${DEV_DB_URL}
GMAIL_ACCOUNT=abc@email.com
MAILGUN_API_KEY=abcde1234
MAILGUN_DOMAIN=Sandboxabcde1234.mailgun.org
EMAIL_CONFIRM_SECRET=ABCDE12345abcde
PASSWORD_RESET_EMAIL_SECRET=ABCDE12345abcde
USER_ACCESS_SECRET=ABCDE12345abcde
USER_REFRESH_SECRET=ABCDE12345abcde